.desktop-root {
    background-image: url('../../assets/bg.jpg');
    background-size: 100% 100vh;
    font-family: 'Cascadia Code', monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.terminal-root {
    background-color: #0f0f0f;
    color: #ff99cc;
    font-family: 'Cascadia Code', monospace;
    font-size: 18px;
    width: 96vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.terminal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #3d3d3d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.terminal-header-buttons {
    display: flex;
    gap: 8px;
}

.terminal-header-button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}

.red {
    background-color: hsl(0, 100%, 54%);
}

.yellow {
    background-color: hsl(50, 100%, 54%);
}

.green {
    background-color: hsl(100, 100%, 54%);
}

.terminal-header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ff99cc;
    user-select: none;
}

.terminal-body {
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
    color: #00ff7f;
    max-height: 85vh;
}

.terminal-line {
    display: block;
    white-space: pre-wrap;
}

.terminal-line .command {
    color: #ff99cc;
}

.terminal-line .output {
    color: #ddd;
}

.terminal-input {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.terminal-input-text {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #ff99cc;
    font-family: 'Cascadia Code', monospace;
    font-size: 18px;
}

.terminal-input-text:focus {
    border: none;
    outline: none;
}

.terminal-root:hover {
    cursor: text;
}

.app-dock {
    position: absolute;
    bottom: 16px;
    background-color: #2c2c2c88;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    backdrop-filter: blur(6px);
}

.dock-icon{
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 20px;
    cursor: pointer;
    background-size: 64px;
}

.coffee-root {
    position: absolute;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background: #0f0f0f;
    font-family: 'Cascadia Code', monospace;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #ff99cc;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background: #0f0f0f;
    border-bottom: 1px solid #3d3d3d;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .buttons {
    display: flex;
    gap: 6px;
  }
  
  .close, .minimize, .maximize {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .close {
    background-color: hsl(0, 100%, 54%);
  }
  
  .minimize {
    background-color: hsl(50, 100%, 54%);
  }
  
  .maximize {
    background-color: hsl(100, 100%, 54%);
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
  }
  
  .form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 16px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label{
    color: #ddd;
    margin-top: 12px;
    font-size: 14px;
  }
  
  .form-input-field, select, button {
    margin-top: 5px;
    padding: 8px;
    background: #3d3d3d;
    border: 1px solid #555;
    border-radius: 10px;
    color: #ff99cc;
    font-family: 'Cascadia Code', monospace;
    font-size: 14px;
  }
  
  button {
    margin-top: 15px;
    background: #7a4f3d;
    color: white;
    border: none;
    cursor: pointer;
  }